.survey-main {
    height: 60rem;
    width: 50%;
    background-color: black;
    margin:auto;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
}

.survey-question {
    color: white;
    padding-top: 2rem;
}

.survey-title {
    color: white;
    padding-top: 3rem;
}

.submission-text {
    
    color: white;
    padding-left: 1rem;
    font-size: 1rem;
}

.surveyPage {
    background-image: url(https://images.unsplash.com/photo-1614854262178-03c96e9c8c28?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGNvbG9yZnVsJTIwbGlnaHRpbmd8ZW58MHx8MHx8&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }

  .choices 
  {
    padding-top: 1rem;
    
    list-style: none;
  }

  .slightMargin
  {
    padding-top: 3rem;
  }


.survey-title:after 
{
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin-left: 40%; /* This will center the border. */
    width: 10vw; /* Change this to whatever width you want. */
    padding-top: 0.4rem; /* This creates some space between the element and the border. */
    margin-top: 1rem;
    background-image: linear-gradient(90deg,white,yellow); 
}
 